<aside class="portal-nav">
    <h3>Ke toan</h3>
    <a asp-controller="Accounting" asp-action="Dashboard" class="portal-link">Dashboard tai chinh</a>
    <a asp-controller="Accounting" asp-action="ThanhToanSinhVien" class="portal-link">Thanh toan hoc phi</a>
    <a asp-controller="Accounting" asp-action="MienGiam" class="portal-link">Phe duyet mien giam</a>
    <a asp-controller="Accounting" asp-action="HocBong" class="portal-link">Thuc hien hoc bong</a>
</aside>
